body {
    margin: 0;
    font-family: sans-serif;
    font-weight: 300;
    background: #222;
}

nav {
    background: #55d6aa;
}

.nav-list {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    list-style:none;
    margin-right: 2rem;
}

.nav-item a {
    text-decoration: none;
    color:black;
}

.nav-item:first-child {
    margin-top: .6rem;
    margin-right: auto;
    margin-left: 2rem;
}

.main-page {
    margin: 3rem;
}