body {
    margin: 0;
    font-family: sans-serif;
    font-weight: 300;
    background: rgb(6, 21, 57);
    color: white;
}

nav {
    background: rgb(22, 40, 86);
    position: sticky;
    top: 0;
}

.nav-list {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    list-style:none;
    margin-right: 2rem;
}

.nav-item a {
    text-decoration: none;
    color:white;
    font-weight: 600;
}
.nav-item a:hover {
    font-size: 100.5%;
    opacity: 75%;
    transition-duration: 250ms;
}

.nav-item:first-child {
    margin-top: .6rem;
    margin-right: auto;
    margin-left: 2rem;
}

.main-page {
    margin: 3rem;
    display: flex;
}

.element-header {
    text-align:center;
}

#canvas-holder {
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 15em;
    padding: 20px;
    text-align: center;
}

a {
    color: white;   
    text-decoration: none;
}

.topics-item {
    margin: 1.5em;
    list-style-type: none;
    font-size: 2em;
    font-weight: 500;
}

.topics-item a:hover {
    text-decoration: underline;
}

.topics-header{
    text-align: center;
    font-size: 3em;
}

footer {
    margin-bottom: 0;
    padding: 1.5rem;
    color: white;
}

footer p {
    opacity: .5;
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
}

footer p:hover {
    opacity: .7;
    color: white;
    transition-duration: 100ms;
}

footer p:first-child {
    margin-left: 3em;
}

hr {
    border: .4px solid grey;
    width: 85%;
    opacity: 50%;
}