body {
  margin: 0;
  font-family: sans-serif;
  font-weight: 300;
  background: rgb(6, 21, 57);
  color: white;
}

nav {
  background: rgb(22, 40, 86);
  position: sticky;
  top: 0;
}

.nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin-right: 2rem;
}

@media only screen and (max-width: 768px) {
  img {
    width: 90%;
  }
}

.nav-item a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}
.nav-item a:hover {
  font-size: 100.5%;
  opacity: 75%;
  transition-duration: 250ms;
}

.nav-item:first-child {
  margin-top: 0.6rem;
  margin-right: auto;
  margin-left: 2rem;
}
@media only screen and (max-width: 768px) {
  .nav-item:first-child {
    margin-left: 1rem;
  }
}

.main-page {
  margin: 3rem;
}
@media only screen and (max-width: 768px) {
  .main-page {
    margin: 1em;
  }
}

.element-header {
  text-align: center;
}

canvas {
  position: relative;
  padding: 20px;
  margin: auto;
  display: block;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 768px) {
  canvas {
    margin-left: 0;
  }
}

a {
  color: white;
  text-decoration: none;
}

.topics-item {
  margin: 0.6em 1.2em;
  list-style-type: none;
}
@media only screen and (max-width: 768px) {
  .topics-item {
    font-size: .75em;
    margin-bottom: 10px;
    margin-right: 0;
    margin-left: 0;
  }
}

.topics-item a:hover {
  text-decoration: underline;
}
.topics-header {
  text-align: center;
  font-size: 3em;
}
@media only screen and (max-width: 768px) {
  .topics-header {
    font-size: 2em;
  }
}

.padding {
  padding: 8em;
}
@media only screen and (max-width: 768px) {
  .padding {
    padding: 12em;
  }
}

footer {
  margin-bottom: 0;
  padding: 1.5rem;
  color: white;
}
@media only screen and (max-width: 768px) {
  footer {
    margin-bottom: 0;
    padding: 1.5rem;
    color: white;
    font-size: 12px;
  }
}

footer p {
  opacity: 0.5;
  display: inline-block;
  margin-left: 1em;
  margin-right: 1em;
}

footer p:hover {
  opacity: 0.7;
  color: white;
  transition-duration: 100ms;
}

footer p:first-child {
  margin-left: 3em;
}

hr {
  border: 0.4px solid grey;
  width: 85%;
  opacity: 50%;
}

.topics-list {
  list-style-type: none;
  font-size: 2em;
  font-weight: 500;
}

.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  font-size: 18pt;
  content: "\25B6";
  color: rgb(255, 255, 255);
  display: inline-block;
  margin-right: 6px;
  transition: transform 0.1s;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}
